<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519737084113-vfqsfptghei183obu8oclq852iq6hsma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519737084113-vfqsfptghei183obu8oclq852iq6hsma</string>
	<key>API_KEY</key>
	<string>AIzaSyAvmwkLO2leVEoVHt0ASUgWM8Ycd2VZGK4</string>
	<key>GCM_SENDER_ID</key>
	<string>519737084113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-b9992</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-b9992.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519737084113:ios:fa532c8f9c6f0e1e981df0</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-b9992.firebaseio.com</string>
</dict>
</plist>